.buttons {
    display: flex;
    flex-wrap: wrap;
}
.buttonsAll{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonsAll > button {
    border: none;
    border-radius: 20px;
    background: none;
    padding: 8px;
    font-size: 30px;
}
.chooseGenre{
    margin: 10px 40px 0;
}


.light{
    color:black
}
.dark{
    color:white
}