.buttons {
    display: flex;
    flex-wrap: wrap;
}
.buttonAll{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonsAllDark > button {
    border: none;
    border-radius: 20px;
    background: #282c34;
    padding: 8px;
    font-size: 30px;
    color:white;
}
.orange > button {
    color:white;
}