.header {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

}

.head {
    display: flex;
    height: 60px;
    align-items: center;

}

.inputLine {
    position: relative;
    right: 60px;
}

.inputLine > input[type=text] {

    width: 400px;
    font-size: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    padding: 5px 15px;
    margin: 0 5px;
}

.inputLine > input[type=text]:focus {
    background: #b6b6b6;

    outline: none;
    border: none;
}

.inputLine > button {
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;

}

.clearButton {
    background: none;
    outline: none;
    text-decoration: none;
    position: absolute;
    left: 370px;
    border: none;
}

.buttonsGenre{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.removeSearch {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}


