.card {
    width: 300px;
    background: #d8e7ec;
    margin: 10px;
    display: flex;

    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.text > h3 {

}

.text {
    text-align: center;
    background: coral;
    padding: 10px;
    box-sizing: border-box;
    width: 250px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.badge{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 0 0 0;
    flex-wrap: wrap;

}